<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Our First Principles</h2>
                <hr class="light">
                <p class="text-faded">Lore - Embodies the vision, grit, and can-do attitude that created many of the best things the world has ever known.</p>
                <h2 class="section-heading">+</h2>
                <p class="text-faded">Leadership - Recognizes our bedrock belief that proven military veterans have a lot to offer the business world.  In fact, we can't think of any better hands to put the future of America.</p>
                <!--<a href="#" class="btn btn-default btn-xl">Get Started!</a>-->
            </div>
        </div>
    </div>
</section>
