<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Support</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fas fa-users fa-4x wow bounceIn text-primary"></i>
                    <h3>Search as a Team</h3>
                    <p class="text-muted">Finding the right business is tough, but its better with a team</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fas fa-calculator fa-4x wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Deal Preparation</h3>
                    <p class="text-muted">From due-diligence to negotiation strategy - every step of the way</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="far fa-money-bill-alt fa-4x wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Funding</h3>
                    <p class="text-muted">Access to a variety of funding models</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fas fa-briefcase fa-4x wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Mentors</h3>
                    <p class="text-muted">Coaching and mentorship from experienced business leaders</p>
                </div>
            </div>
        </div>
    </div>
</section>
